apiVersion: v2
appVersion: "1.0"
description: A Helm chart for ts-translation-service App
name: ts-translation-service
home: https://github.com/hmcts/ts-translation-service
version: 0.0.4
maintainers:
  - name: HMCTS ts team
dependencies:
  - name: java
    version: 3.7.6
    repository: '@hmctspublic'
