java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    TS_TRANSLATION_SERVICE_DB_HOST: "{{ .Release.Name }}-postgresql"
    TS_TRANSLATION_SERVICE_DB_NAME: "{{ .Values.postgresql.auth.database}}"
    TS_TRANSLATION_SERVICE_DB_USERNAME: "{{ .Values.postgresql.auth.username}}"
    TS_TRANSLATION_SERVICE_DB_PASSWORD: "{{ .Values.postgresql.auth.password}}"
    TS_TRANSLATION_SERVICE_DB_OPTIONS: "?stringtype=unspecified"
    TS_TRANSLATION_SERVICE_DB_PORT: 5432
    TESTING_SUPPORT_ENABLED: true
  postgresql:
    enabled: true
  keyVaults:
    ts:
      resourceGroup: ts-shared
      secrets:
        - name: AppInsightsInstrumentationKey
        - name: ts-translation-service-s2s-secret
          alias: IDAM_KEY_TS_TRANSLATION_SERVICE

ccd:
  enabled: true
  definitionStore:
    enabled: true
    ingressHost: ts-translation-service-pr-226.preview.platform.hmcts.net
  adminWeb:
    enabled: true
    ingressHost: ccd-admin-web-pr-582.preview.platform.hmcts.net
  definitionImporter:
    enabled: true
  userProfileImporter:
    enabled: true
