java:
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  devmemoryLimits: "4Gi"
  devmemoryRequests: '2Gi'
  devcpuRequests: "1000m"
  devcpuLimits: "2000m"
  environment:
    TS_TRANSLATION_SERVICE_DB_HOST: "{{ .Release.Name }}-postgresql"
    TS_TRANSLATION_SERVICE_DB_NAME: "ts_translation_service"
    TS_TRANSLATION_SERVICE_DB_USERNAME: "hmcts"
    TS_TRANSLATION_SERVICE_DB_PASSWORD: "hmcts"
    TS_TRANSLATION_SERVICE_DB_OPTIONS: "?stringtype=unspecified"
    TS_TRANSLATION_SERVICE_DB_PORT: 5432
    TESTING_SUPPORT_ENABLED: true

  keyVaults:
    ts:
      resourceGroup: ts-shared
      secrets:
        - name: app-insights-connection-string
        - name: ts-translation-service-s2s-secret
          alias: IDAM_KEY_TS_TRANSLATION_SERVICE

  postgresql:
    enabled: true
    primary:
      persistence:
        enabled: false
      initdb:
        scripts:
          init.sql: |
            CREATE DATABASE "data-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "definition-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "user-profile" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "draftstore" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "payment" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "evidence" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "annotation" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "role_assignment" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "ts_translation_service" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
    auth:
      username: "hmcts"
      password: "hmcts"
    postgresHostname: ${SERVICE_NAME}-postgresql

ccd:
  enabled: true
  postgresql:
    enabled: false
  ccd:
    s2s:
      enabled: false
    userProfile:
      enabled: false
    dataStore:
      enabled: false
    definitionImporter:
      enabled: true
    userProfileImporter:
      enabled: false
    ras:
      enabled: false
    definitionStore:
      enabled: true
    adminWeb:
      enabled: true

  global:
    ccdAdminWebIngress:  ccd-admin-web-${SERVICE_FQDN}
    idamApiUrl: https://idam-api.aat.platform.hmcts.net
    idamWebUrl: https://idam-web-public.aat.platform.hmcts.net
    s2sUrl: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    ccdDefinitionStoreUrl: http://${SERVICE_NAME}-ccd-definition-store
    enableKeyVaults: true
    devMode: true
    postgresql:
      auth:
        postgresUsername: hmcts
        postgresPassword: hmcts


  ccd-definition-store-api:
    java:
      ingressHost: ccd-def-store-${SERVICE_FQDN}
      environment:
        DEFINITION_STORE_DB_HOST: ${SERVICE_NAME}-postgresql
        DEFINITION_STORE_DB_USERNAME: hmcts
        DEFINITION_STORE_DB_PASSWORD: hmcts
        DEFINITION_STORE_DB_OPTIONS: "?stringtype=unspecified"
        TS_TRANSLATION_SERVICE_HOST: http://${SERVICE_NAME}-java
        ELASTIC_SEARCH_FAIL_ON_IMPORT: false
        IDAM_USER_URL: https://idam-web-public.aat.platform.hmcts.net
        IDAM_S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
        USER_PROFILE_HOST: http://ccd-user-profile-api-aat.service.core-compute-aat.internal
        OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts
        DEFINITION_STORE_IDAM_KEY: ${CCD_DEFINITION_S2S_SECRET}
      secrets:
          DEFINITION_STORE_DB_PASSWORD:
            secretRef: "{{ .Values.global.postgresSecret }}"
            key: PASSWORD
            disabled: true
      keyVaults: [ ]


   #Use this image to import your CCD definition. To have an image available, create a git tag and push it.
  ccd-definition-importer:
    image: hmctspublic.azurecr.io/ccd/definition-importer:latest
    redirectUri: http://${SERVICE_NAME}-ccd-admin-web/oauth2redirect
    environment:
      IMPORTER_USERNAME: ${IMPORT_USERNAME}
      IMPORTER_PASSWORD: ${IMPORT_PWD}
      CLIENT_SECRET: ${ADMIN_WEB_IDAM_SECRET}
    secrets: []
    definitions:
      - https://github.com/hmcts/ccd-test-definitions/raw/master/src/main/resources/uk/gov/hmcts/ccd/test_definitions/excel/BEFTA_Master_Definition.xlsx
    userRoles:
      - citizen
      - citizen
      - letter-holder
      - caseworker-sscs
      - caseworker-sscs-systemupdate
      - caseworker-sscs-anonymouscitizen
      - caseworker-test
      - caseworker-test2
      - caseworker-divorce
      - caseworker-divorce-courtadmin
      - caseworker-divorce-solicitor
      - caseworker-publiclaw-localAuthority
      - caseworker-publiclaw-courtadmin
      - caseworker-publiclaw-cafcass
      - caseworker-publiclaw
      - caseworker-publiclaw-solicitor
      - caseworker-publiclaw-judiciary
      - caseworker-probate
      - caseworker-probate-solicitor
      - caseworker-probate-issuer
      - caseworker-sscs-callagent
      - caseworker-autotest1
      - caseworker-divorce-financialremedy
      - caseworker-divorce-financialremedy-courtadmin
      - caseworker-divorce-financialremedy-solicitor
      - caseworker-divorce-financialremedy-judiciary
      - caseworker-test-junior
      - caseworker-test-solicitor
      - caseworker-divorce-courtadmin_beta
      - caseworker-test-manager
      - Caseworker-sscs-clerk
      - caseworker-divorce-judge
      - caseworker-probate-examiner
      - caseworker-probate-judge
      - caseworker-probate-authoriser
      - caseworker-autotest1-private
      - caseworker-ia-legalrep-solicitor
      - caseworker-autotest1-senior
      - caseworker-autotest1-solicitor
      - caseworker-sscs-judge
      - caseworker-ia-caseofficer
      - caseworker-ia-readonly
      - caseworker-ia-system
      - caseworker-ia-judiciary
      - caseworker-probate-systemupdate
      - caseworker-publiclaw-systemupdate
      - caseworker-probate-caseadmin
      - caseworker-probate-caseofficer
      - caseworker-probate-registrar
      - caseworker-probate-superuser
      - caseworker-divorce-systemupdate
      - caseworker-cmc
      - caseworker-cmc-solicitor
      - caseworker-cmc-systemupdate
      - Judge
      - caseworker-test-senior
      - case-allocator
      - caseworker-privatelaw
      - caseworker-sscs-panelmember
      - caseworker-sscs-caseworker
      - payments
      - caseworker-cmc-courtAdmin
      - caseworker-sscs-clerk
      - caseworker-sscs-registrar
      - caseworker-sscs-teamleader
      - caseworker-sscs-superuser
      - caseworker-cmc-legaladvisor
      - caseworker-employment-tribunal-manchester
      - caseworker-employment-tribunal-manchester-caseofficer
      - caseworker-employment
      - caseworker-employment-tribunal-glasgow-casesupervisor
      - caseworker-employment-tribunal-manchester-casesupervisor
      - caseworker-employment-tribunal-glasgow
      - caseworker-employment-tribunal-glasgow-caseofficer
      - caseworker-divorce-superuser
      - caseworker-sscs-dwpresponsewriter
      - caseworker-divorce-courtadmin-la
      - caseworker-cmc-anonymouscitizen
      - caseworker-cmc-judge
      - caseworker-publiclaw-gatekeeper
      - caseworker-divorce-bulkscan
      - caseworker-cmc-bulkscan
      - caseworker-probate-bulkscan
      - caseworker-sscs-bulkscan
      - circuit-judge
      - idam-test-role
      - caseworker-employment-tribunal-api
      - caseworker-bulkscan
      - caseworker-employment-etjudge
      - caseworker-employment-etjudge-leeds
      - caseworker
      - hmcts-judiciary
      - judge
      - judiciary
      - leadership-judge
      - specific-access-approver-judiciary
      - task-supervisor
      - caseworker-employment-etjudge-bristol
      - pui-caa
      - caseworker-employment-etjudge-londoncentral
      - caseworker-employment-etjudge-londoneast
      - caseworker-employment-etjudge-londonsouth
      - caseworker-employment-etjudge-manchester
      - caseworker-employment-etjudge-midlandseast
      - caseworker-employment-etjudge-midlandswest
      - caseworker-employment-etjudge-newcastle
      - caseworker-employment-etjudge-scotland
      - caseworker-ia-admofficer
      - caseworker-ia-respondentofficer
      - caseworker-ia-homeofficeapc
      - caseworker-ia-homeofficelart
      - caseworker-ia-homeofficepou
      - caseworker-autotest1-manager
      - caseworker-autotest1-junior
      - caseworker-employment-etjudge-wales
      - caseworker-employment-etjudge-watford
      - caseworker-employment-londonsouth
      - caseworker-ia-iacjudge
      - caseworker-befta_jurisdiction_1
      - caseworker-befta_jurisdiction_2
      - caseworker-befta_jurisdiction_3
      - caseworker-befta_jurisdiction_3-solicitor
      - caseworker-employment-bristol
      - caseworker-employment-leeds
      - caseworker-employment-api
      - caseworker-employment-glasgow
      - caseworker-employment-londoncentral
      - caseworker-employment-londoneast
      - caseworker-employment-midlandseast
      - caseworker-employment-midlandswest
      - caseworker-employment-newcastle
      - caseworker-employment-wales
      - caseworker-employment-watford
      - caseworker-employment-manchester
      - AudioFileSearcher
      - caseworker-befta_jurisdiction_2-solicitor_1
      - caseworker-befta_jurisdiction_2-solicitor_2
      - caseworker-befta_jurisdiction_2-solicitor_3
      - caseworker-employment-scotland
      - ctsc-team-leader
      - caseworker-publiclaw-bulkscan
      - caseworker-publiclaw-bulkscansystemupdate
      - TEST_7746
      - caseworker-caa
      - caseworker-civil
      - caseworker-autotest2
      - caseworker-autotest2-private
      - ASOL
      - RSOL
      - caseworker-autotest2-senior
      - caseworker-autotest2-solicitor
      - caseworker-probate-scheduler
      - TEST_4330
      - befta-caseworker
      - caseworker-probate-pcqextractor
      - caseworker-st-cic
      - hearing-viewer
      - caseworker-sscs-pcqextractor
      - caseworker-divorce-pcqextractor
      - caseworker-cmc-pcqextractor
      - caseworker-sptribs-superuser
      - caseworker-sptribs-cic-respondent
      - solicitor
      - caseworker-sptribs-systemupdate
      - caseworker-sptribs
      - caseworker-sptribs-cic-courtadmin
      - caseworker-st_cic
      - caseworker-sptribs-cic-districtregistrar
      - pui-organisation-manager
      - caseworker-st_mh
      - citizen-sptribs-cic-dss
      - caseworker-sptribs-cic-caseofficer
      - caseworker-sptribs-cic-districtjudge
      - pui-finance-manager
      - TTL-admin
      - caseworker-civil-solicitor
      - pui-user-manager
      - caseworker-st_phl
      - caseworker-st_cs
      - caseworker-st_send
      - caseworker-civil-systemupdate
      - caseworker-befta_master-junior
      - caseworker-befta_master
      - caseworker-befta_master-solicitor
      - caseworker-befta_master-manager
      - jc-test
      - TEST-DELETE
      - ft_accessprofile_1
      - ft_accessprofile_3
      - caseworker-publiclaw-superuser
      - caseworker-xui
      - caseworker-sscs-hmrcresponsewriter
      - caseflags-admin
      - caseworker-publiclaw-magistrate
      - caseflags-viewer
      - caseworker-employment-etjudge-englandwales
      - caseworker-probate-charity
      - ga-basic-access
      - caseworker-sptribs-cs-courtadmin
      - caseworker-sptribs-cs-caseofficer
      - caseworker-sptribs-mh-courtadmin
      - caseworker-sptribs-mh-caseofficer
      - caseworker-sptribs-mh-districtjudge
      - caseworker-sptribs-phl-districtregistrar
      - citizen-sptribs-send-dss
      - caseworker-sptribs-cs-districtregistrar
      - caseworker-sptribs-mh-districtregistrar
      - caseworker-sptribs-phl-caseofficer
      - citizen-sptribs-phl-dss
      - caseworker-sptribs-send-courtadmin
      - caseworker-sptribs-cs-districtjudge
      - citizen-sptribs-mh-dss
      - caseworker-sptribs-send-caseofficer
      - caseworker-sptribs-send-districtregistrar
      - caseworker-befta_jurisdiction_1-solicitor
      - caseworker-befta_jurisdiction_1-manager
      - citizen-sptribs-cs-dss
      - caseworker-sptribs-phl-courtadmin
      - caseworker-sptribs-phl-districtjudge
      - caseworker-sptribs-send-courtadminasst
      - caseworker-sptribs-send-districtjudge
      - caseworker-befta_jurisdiction_1-junior
      - ia_specific_access_ctsc_profile
      - caseworker-ia-homeofficebail
      - caseworker-bulkscan-systemupdate
      - caseworker-adoption-systemupdate
      - caseworker-approver
      - caseworker-ras-validation
      - caseworker-divorce-financialremedy-superuser
      - cft-ttl-manager
      - caseworker-publiclaw-highcourtadmin
      - caseworker-publiclaw-highcourtjudiciary
      - basic-access
      - caseworker-wa-task-configuration
      - caseadmin
      - Pcaseworker
      - caseworker-ET-pcqextractor
      - IDAM_SUPER_USER
      - caseworker-ia
      - caseworker-civil-admin
      - judge-employment
      - legal-adviser
      - specific-access-group
      - caseworker-hrs
      - caseworker-hrsimport
      - GS_profile
      - judge-profile
      - RES-SOL-ONE-UNSPEC-PROFILE
      - RES-SOL-TWO-SPEC-PROFILE
      - APP-SOL-UNSPEC-PROFILE
      - APP-SOL-SPEC-PROFILE
      - RES-SOL-TWO-UNSPEC-PROFILE
      - RES-SOL-ONE-SPEC-PROFILE
      - caseworker-ia-srcaseofficer
      - ia_bail_caselinks_profile
      - caseworker-befta_master-solicitor_1
      - caseworker-befta_master-solicitor_3
      - caseworker-disposer_master-manager
      - caseworker-disposer_master-solicitor
      - caseworker-disposer_master
      - caseworker-disposer_master-junior
      - caseworker-disposer_jurisdiction_1
      - caseworker-befta_master-solicitor_2
      - caseworker-employment-legalrep-solicitor
      - caseworker-ia-system-access
      - caseworker-wa-task-officer
      - caseworker-civil-staff
      - ia_caselinks_profile
      - caseworker-probate-rparobot
      - hearing-manager
      - civil-administrator-standard
      - civil-administrator-basic
      - caseworker-privatelaw-courtadmin
      - caseworker-privatelaw-solicitor
      - caseworker-privatelaw-cafcass
      - caseworker-privatelaw-judge
      - caseworker-privatelaw-la
      - admin-access
      - full-access
      - caseworker-privatelaw-superuser
      - caseworker-rdm7956
      - caseworker-rdm7956-perm1
      - caseworker-rdm7956-perm2
      - caseworker-privatelaw-casecreator
      - courtnav
      - prd-admin
      - caseflags_profile
      - hearings-access-view
      - hearings-access-update
      - hearings-viewer
      - hearings-admin
      - caseworker-ia-bails
      - caseworker-st_cic-pcqextractor
      - caseworker_profile
      - ccd-import
      - pui-case-manager
      - CLAIMANT
      - DEFENDANT
      - caseworker-st_cic-caseworker
      - caseworker-st_cic-respondent
      - caseworker-st_cic-senior-caseworker
      - caseworker-st_cic-hearing-centre-admin
      - caseworker-st_cic-hearing-centre-team-leader
      - caseworker-civil-judge
      - caseworker-st_cic-senior-judge
      - a8368bf8-f142-4153-8a49-a1d0a37a133c
      - caseworker-st_cic-judge
      - caseworker-et-pcqextractor
      - hearing-schedule-access
      - specific_access_profile
      - caseworker-privatelaw-externaluser-viewonly
      - caseworker-privatelaw-systemupdate
      - caseworker-adoption
      - caseworker-adoption-caseworker
      - caseworker-adoption-courtadmin
      - caseworker-adoption-la
      - caseworker-adoption-solicitor
      - caseworker-adoption-superuser
      - caseworker-adoption-judge
      - caseworker-employment-englandwales
      - CITIZEN-CLAIMANT-PROFILE
      - CITIZEN-DEFENDANT-PROFILE
      - caseworker-privatelaw-bulkscan
      - caseworker-privatelaw-bulkscansystemupdate
      - et-acas-api
      - caseworker-privatelaw-readonly
      - cui-admin
      - cui-admin-profile
      - cui-nbc-profile
      - next-hearing-date-admin
      - caseworker-privatelaw-case-link-profile
      - civil-administrator-judge
      - payment-access
      - specific_access_judge_profile
      - specific_access_admin_profile
      - ia_specific_access_judge_profile
      - ia_specific_access_legal_ops_profile
      - ia_specific_access_admin_profile
      - hmcts-admin
      - caseworker-admin
      - caseworker_admin_profile
      - caseworker-ia-respondentlocalauthority
      - caseworker-ia-respondentnaab
      - case_link_profile
      - ia_caseflags_profile
      - ia_caseflags_readonly_profile
      - citizen-profile

  ccd-admin-web:
    nodejs:
      ingressHost:  ccd-admin-web-${SERVICE_FQDN}
      environment:
        IDAM_ADMIN_WEB_SERVICE_KEY: ${ADMIN_S2S_KEY}
        IDAM_OAUTH2_AW_CLIENT_SECRET: ${ADMIN_WEB_IDAM_SECRET}
        ADMINWEB_GET_DICTIONARY_URL: http://${SERVICE_NAME}-java/dictionary
      keyVaults: [ ]
