.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml
target/
lib/applicationinsights-agent-*.jar
lib/applicationinsights.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store
*.log

/BEFTA Report for Smoke Tests/
/BEFTA Report for Functional Tests/
