version: '2.4'

services:
  ts-translation-service:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmctspublic.azurecr.io/ts/translation-service:latest
    container_name: translation-service
    environment:
      TS_TRANSLATION_SERVICE_DB_HOST: ts-db
      TS_TRANSLATION_SERVICE_DB_PORT: 5432
      TS_TRANSLATION_SERVICE_DB_NAME: ${TS_TRANSLATION_SERVICE_DB_NAME}
      TS_TRANSLATION_SERVICE_DB_USERNAME: ${TS_TRANSLATION_SERVICE_DB_USERNAME}
      TS_TRANSLATION_SERVICE_DB_PASSWORD: ${TS_TRANSLATION_SERVICE_DB_PASSWORD}
    ports:
      - "4650:4650"
    depends_on:
      - ts-db

  ts-db:
    image: postgres:15.16
    restart: always
    environment:
      - POSTGRES_DB=${TS_TRANSLATION_SERVICE_DB_NAME}
      - POSTGRES_USER=${TS_TRANSLATION_SERVICE_DB_USERNAME}
      - POSTGRES_PASSWORD=${TS_TRANSLATION_SERVICE_DB_PASSWORD}
    ports:
      - 6969:5432
    volumes:
      - ts-database-data:/var/lib/postgresql/data

volumes:
  ts-database-data:
